################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VendingMachine_Kata/VendingMachine_Kata.sln~d6e0845... Initial commit.
